<a href="https://colab.research.google.com/github/harshithareddy04/python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#find large number from given 3 numbers
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if a>b and a>c:
    print("a is greater")
elif b>a and b>c:
    print("b is greater")
else:
    print("c is greater")

enter a value2
enter b value3
enter c value9
c is greater

#while statements
###syntax:
#####while boolean_condition:<br>
             statement<br>
             increment/decrement <br>

In [6]:
x=0
while x<5:
  print("GITAM")
  x=x+1

GITAM
GITAM
GITAM
GITAM
GITAM

In [22]:
#print n natural numbers using while loop
#input:10
#output:1 2 3 4 5 6 7 8 9 10
n=int(input("enter a number"))
i=1
while i<=n:
   print(i,end=" ")
   i=i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [29]:
#add only even number 1 to n
#input:10
#output:30(2+4+6+8+10)
a=int(input("enter a value"))
i=1
sum=0
while i<=a:
  if i%2==0:
    sum=sum+i
  i=i+1
print(sum,end=" ")

enter a value10
30

In [31]:
#input:123
#output:321
n=int(input("enter n value"))
while n!=0:
  r=n%10
  print(r,end=" ")
  n=n//10

enter n value123
3 2 1

#functional programming
- simple
- easy read
- lengthy program divides into sub programs

##syntax:

In [0]:
def nameofthefunction(<parameters>)
    statements
    return

In [36]:
#input:1234
#output:6(2+4)
def addevendigit(n):
  sum=0
  while n!=0:
      r = n%10
      if  r %2==0:
           sum=sum+r
      n=n//10
  return sum
addevendigit(1234)

6

In [40]:
#read input 
#input: 19528
#output:9
def greaternumber(n):
  large=0
  while n!=0:
    r = n%10
    if r>large:
      large=r
    n=n//10
  return large
greaternumber(19528)

9

In [43]:
#input:123
#output:321
def revnumber(n):
  while n!=0:
    r=n%10
    print(r,end=" ")
    n=n//10
revnumber(123)

3 2 1

In [50]:
#check that given number is palindrome or not
#input:121-----121------yes
#input:123----321------no
def palin(n):
  rev=0
  buffer=n
  while n!=0:
    r= n%10
    rev=rev*10+r
    n=n//10
  if buffer==rev:
      return "yes"
  else:
      return "no"
print(palin(121))
print(palin(123))

yes
no

In [56]:
#function to print n natural numbers
def natural(n):
    for i in range(1,n+1):
        print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

In [60]:
#input(11,15)
#output:11 12 13 14 15
def natural(l,n):
    for i in range(l,n+1):
        print(i,end=" ")
natural(11,15)

11 12 13 14 15

In [62]:
#input(1,10)
#output:1,4,7,10
def natural(l,n):
    for i in range(l,n+1,3):
        print(i,end=" ")
natural(1,10)

1 4 7 10

In [67]:
#using function
#iinput: 1,10
#output:10 9 8 7 6 5 4 3 2 1
def revrange(start,end):
    for i in range(end,start-1,-1):
        print(i,end=" ")
revrange(1,10)

10 9 8 7 6 5 4 3 2 1

#data structure types
- list
- tuple
- dictionary

#list
- list is one of the data structure in python,the items are seperated by comma(,) and enclosed by square brackets [ ]
- crud operations
* c- create
* r-read
* u-update
* d-delete
- list can be changed or mutable
- +ve index starts with 0,1,2,3
- -ve index starts with -3,-2,-1
###example:
- list=[1,2,3,4]

In [68]:
li=[1,2,3,4,5]
print(li)
print(li[0])
print(li[-1])

[1, 2, 3, 4, 5]
1
5